<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<!-- Main Body Start -->
<main class="mainBody">

    <!--- Sidebar   -->
		<%- include('../partials/sidebar') -%>
    <!-- Main Content -->
    <div class="videos">
        <h1>Recommended</h1>

        <div class="videos__container">

            <!-- First Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/beach-sunrise-picture-id488101309?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Best serene environments in Europe</h3>
                        <a href="">WaawFoundation</a>
                        <span>37M Views • 9 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- First Video End -->

            <!-- Second Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/httpscdnshutterstockcomshutterstockpending_photos1019720194thumbjpg-picture-id869834114?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Best tourist sites in the world</h3>
                        <a href="">WaawFoundation</a>
                        <span>25M Views • 8 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Second Video End -->

            <!-- Third Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/bernese-mountain-dog-picture-id488101311?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Wild dogs of Australia</h3>
                        <a href="">WaawFoundation</a>
                        <span>2M Views • 1 Month Ago</span>
                    </div>
                </div>

            </div>
            <!-- Third Video End -->

            <!-- Fourth Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/httpscdnshutterstockcomshutterstockpending_photos1019603596thumbjpg-picture-id869782314?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>20 places you never knew existed</h3>
                        <a href="">WaawFoundation</a>
                        <span>5M Views • 6 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Fourth Video End -->

            <!-- Fifth Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/deer-in-snow-picture-id488101323?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Hunting in the snow</h3>
                        <a href="">WaawFoundation</a>
                        <span>800K Views • 6 weeks Ago</span>
                    </div>
                </div>

            </div>
            <!-- Fifth Video End -->

            <!-- Sixth Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/strike-fighter-picture-id139669705?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Fastest Jets</h3>
                        <a href="">WaawFoundation</a>
                        <span>13M Views • 7 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Sixth Video End -->

            <!-- Seventh Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/carton-of-eggs-macro-picture-id139692887?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Best Protein sources</h3>
                        <a href="">WaawFoundation</a>
                        <span>200K Views • 2 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Seventh Video End -->

            <!-- Eight Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://media.istockphoto.com/photos/grizzly-bear-i-picture-id139679082?s=612x612" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 10 world most deadly wild animals</h3>
                        <a href="">WaawFoundation</a>
                        <span>11K Views • 3 days Ago</span>
                    </div>
                </div>

            </div>
            <!-- Eight Video End -->

						 <!-- Ninth Video  -->
						 <div class="video">
							<div class="video__thumbnail">
									<img src="https://media.istockphoto.com/photos/contemporary-kitchen-modern-interiors-picture-id981756464?s=612x612" alt="">
							</div>

							<div class="video__details">
									<div class="author">
											<img src="/images/future.jpeg" alt="future">
									</div>
									<div class="title">
											<h3>Furnish your space with a budget</h3>
											<a href="">WaawFoundation</a>
											<span>3M Views • 18 Months Ago</span>
									</div>
							</div>

					</div>
					<!-- Ninth Video End -->


</main>

<%- include('../partials/foot') -%>